
.container {
  width: 340px;
  max-height: 400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0;
  border-radius: 5px 5px 0 0;
  overflow: scroll;

}

.top {
  width: 338px;
  background-color: rgb(15,57,92);
  border-radius: 5px 5px 0 0;
  position: absolute;
  color: rgb(236,236,236);
  display: block;
}

#topBar {
  display: flex;
}

#logo, #Triad {
  margin: 5px 5px 5px 5px;
}

#logo {
  border: 0.5px solid white;
}

#Triad {
  margin-left: 0;
}

#close {
  margin: 0px 0px 5px 145px;
}

#online, #offline {
margin-left: 40px;
margin-bottom: 5px;
font-weight: bold;
}

#online {
  display: none;
}

.convo {
  margin-top: 65px;
  overflow: scroll;

}

#greeting, #agent {
  background-color: rgb(175,233,221);
  width: 70%;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  padding: 2px 2px 2px 5px;
}

#user {
  background-color: rgb(128,128,128);
  width: 70%;
  margin-left: 30%;
  border-radius: 5px;
  padding: 2px 2px 2px 5px;
}

.field {
  position:absolute;
  padding: 1;
  margin-top: -90px;
  border: 1px black solid;
  width: 340px;
  display: inline-flex;
  gap: 7px;
}
#message {
  width: 250px;
}

#submit {
  width: 25%;
}



